.competitors-list {
  min-width: 330px;
  width: 50%;
}

.avatar {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: inline;
  vertical-align: middle;
  margin: 0px 8px;

}

.competitor-entry {
    background-color: white;
    margin: 16px 0px;
    border-radius: 8px;
    color: #404040;
    padding: 15px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
}



@media only screen and (max-width: 600px) {
  .current-rank {
    max-width: 90px;
  }
}